<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Engine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1 style="text-align: center; font-size: 32px;">SISTEM TEMU BALIK DOKUMEN</h1> 

    <div class="search-container">
        {# Gambar animasi yang diperbesar #}
        <img src="{{ url_for('serve_image', filename='dashboard.jpeg') }}" alt="Animation" class="animation">
        
        {# Form Pencarian yang sudah diperbesar #}
        <form action="/search" method="GET">
            <input type="text" name="query" id="query" placeholder="Search..." required>
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>
